a, a:hover, a:focus {
text-decoration: none;
}

.hover-shadow{
padding: 20px 5px 20 5px;
}

.hover-shadow:hover{
padding: 20px 5px 20 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

